@import "../standards";

.Display {
  position: absolute;
  height: auto;
  border-radius: 2vh;
  //border: black 0.2vw solid;
  background-color: white;
  //box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  font-family: $title3;
  color: $color6;
  padding: 3vh 2vw;
}

.Display #title {
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  padding-bottom: 1vh;
}

.Display #desc {
  font-size: 1.3vw;
}
