@import "../standards";

.SubmitKnowledge {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;

  .fade {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.7;
  }

  .form-wrapper {
    position: absolute;
    width: 76vw; /* fixes border */
    height: 78vh; /* fixes border */
    top: 48%; //50-padding will keep it centered.
    left: 48%; //50-padding will keep it centered.
    margin-top: -39vh; /* Negative half of height. */
    margin-left: -38vw; /* Negative half of width. */
    background-color: $color6;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80% 20%;
    padding: 1%;

    .children {
      border-radius: 1vw;
      margin: 0.8vh 0.8vw;
    }

    #instructions {
      background-color: $color2;
      font-family: $title3;
      grid-column-start: span 2;

      .instructions-wrapper {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding: 1.5vh 1.8vw;

        #title {
          font-family: $title3;
          font-size: 1.7vw;
          grid-column: span 2;
          font-weight: bold;
          padding-top: 1vh;
        }
        #prompt-list {
          font-size: 1.2vw;
          margin-block-start: 0vh;
          margin-block-end: 0vh;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 3vw;
          padding-top: 1.5vh;
        }
        .subtitle {
          font-size: 1.3vw;
          font-weight: bold;
          padding-top: 3vh;
        }
        .body {
          font-size: 1.2vw;
          padding-top: 1vh;
        }
      }
    }

    #text-area-wrapper {
      display: flex;
      #text-area {
        flex-grow: 1;
        border-radius: 1vh;
        resize: none;
        background-color: $color2;
        font-family: $title3;
        font-size: 1.2vw;
        padding: 2vh;
      }
      #text-area:focus {
        outline: 0;
      }
    }

    #file-drop {
      grid-column: span 2;
      border: $color2 0.4vw dashed;
      padding: 1.5vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $title3;
      font-size: 1.8vw;
      color: $color2;
    }

    #submit-button {
      font-family: $title3;
      font-size: 2vw;
      background-color: $color1;
    }
  }
}
