@import "../standards";

.Global-background {
  background-image: linear-gradient($color4, $color5);
  height: 100vh;
}

.Global {
  display: flex;
  flex-direction: column;
  align-items: center;

  #title {
    font-family: $title1;
    color: $color6;
  }
  #subtitle {
    font-family: $title2;
    color: $color6;
    text-align: center;
  }
}

.river-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  width: 80vw;
  justify-items: stretch;
}

.searchbar {
  width: 79vw;
  border-radius: 10px;
  border: $color6 3px solid;
  background-color: rgb(248, 248, 248);
  text-align: center;
  font-family: $title2;
}

@media (min-width: 320px) {
  .Global {
    .river-wrapper {
      grid-template-columns: repeat(1, 1fr);
      width: 80%;
      margin-top: 20px;
    }
    #title {
      margin-top: 20px;
      font-size: 2.5rem;
    }
    #subtitle {
      font-size: 1rem;
      margin: 0px 30px;
    }
    .github-corner svg {
      width: 60px;
      height: 60px;
    }
    .searchbar {
      font-size: 16px;
      height: 20px;
      padding: 4px;
      margin-top: 10px;
    }
  }
}

@media (min-width: 750px) {
  .Global {
    .river-wrapper {
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
    }
    #title {
      font-size: 5rem;
    }
    #subtitle {
      font-size: 2rem;
    }
  }
}

@media (min-width: 1200px) {
  .Global {
    .river-wrapper {
      grid-template-columns: repeat(3, 1fr);
      width: 80%;
    }
    #title {
      font-size: 6rem;
    }
    #subtitle {
      font-size: 3rem;
    }
  }
}
