@import "../standards";

.Global {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient($color4, $color5);
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
}

.Global #title {
  font-family: $title1;
  font-size: 90px;
  padding-top: 40px;
  color: $color6;
}

.Global #subtitle {
  font-size: 30px;
  padding-top: 20px;
  color: $color6;
  font-family: $title2;
}

#prompt {
  font-size: 40px;
  padding-top: 60px;
}

.river-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  justify-content: center;
  width: 1000px;
}
