@import "../../standards";

@media (min-width: 320px) {
  .Global-background {
    background-image: linear-gradient($color4, $color5);
    height: 100%;
    min-height: 100vh;

    .Global {
      display: flex;
      flex-direction: column;
      align-items: center;
      #title {
        font-family: $title1;
        color: $color6;
        margin-top: 20px;
        font-size: 13vw;
      }
      #subtitle {
        font-family: $title2;
        color: $color6;
        text-align: center;
        font-size: 4vw;
        margin: 0px 30px;
      }
      form {
        outline: none;
      }
      .searchbar {
        width: 79vw;
        height: 3.4vw;
        border-radius: 10px;
        background-color: rgb(248, 248, 248);
        text-align: center;
        font-family: $title2;
        font-size: 3.5vw;
        padding: 1.2vw;
        margin-top: 10px;
        border: $color6 2px solid;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
      }

      .river-wrapper {
        display: grid;
        justify-items: stretch;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin-top: 20px;
        grid-gap: 15px;
        margin-top: 15px;

        .river-label {
          border: $color6 2px solid;

          #name {
            font-size: 20px;
          }
          #location {
            font-size: 15px;
          }
        }
        .done {
          padding: 10px;
        }

        .header {
          padding: 10px;
        }
      }
      .github-corner svg {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media (min-width: 750px) {
  .Global-background {
    .Global {
      #title {
        margin-top: 15px;
        font-size: 4.5rem;
      }
      #subtitle {
        font-size: 2rem;
        margin-top: 3px;
      }
      .github-corner svg {
        width: 70px;
        height: 70px;
      }
      .searchbar {
        font-size: 20px;
        height: 25px;
        padding: 4px;
        margin-top: 20px;
      }
      .river-wrapper {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
      }
    }
    .river-label {
      #name {
        font-size: 24px;
      }
      #location {
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .Global-background {
    .Global {
      #title {
        margin-top: 30px;
        font-size: 5.5rem;
      }
      #subtitle {
        font-size: 2.5rem;
        margin-top: 10px;
      }
      .github-corner svg {
        width: 80px;
        height: 80px;
      }
      .searchbar {
        font-size: 24px;
        height: 30px;
        padding: 4px;
        margin-top: 30px;
      }

      .river-wrapper {
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        margin-top: 30px;
        .river-label {
          #name {
            font-size: 28px;
          }
          #location {
            font-size: 22px;
          }
        }
      }
    }
  }
}
