.map {
  max-width: 85% !important;
  max-height: 85% !important;
}

.label-svg {
  border: 1px blue solid;
  position: absolute;
}

.pointer {
  stroke: black;
  fill: none;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  border: 1px blue solid;
}

.map-label {
  font-size: 2px;
  cursor: pointer;
}

.map-label:hover {
  font-size: 3px;
}
