.map {
  max-width: 85% !important;
  max-height: 85% !important;
}

.map-label-array {
}

.map-label {
  position: absolute;
  display: flex;
  transform-origin: 50px 50px;
  border: 1px black solid;

  .label-svg {
    border: 1px blue solid;
  }

  .pointer {
    stroke: black;
    fill: none;
    stroke-width: 0.1vh;
    stroke-linecap: round;
    stroke-linejoin: round;
    border: 1px blue solid;
  }
}

.top {
  flex-direction: column-reverse;
}

.bottom {
  flex-direction: column;
}

.right {
  flex-direction: row-reverse;
}

.left {
  flex-direction: row;
}
