.PutIn-wrapper .header {
  background-image: url(./assets/welcome-header.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-image: url(./assets/welcome-footer.svg);
  flex-grow: 1;
}
