.basemap {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.rapid-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 1vw;
  font-style: normal;
  text-align: center;

  .rapid-name {
    font-size: 36px;
  }

  .rapid-desc {
    font-size: 24px;
  }
}
