/*---Palette---*/
/*---Rules---*/
/*---Archive Colors---*/
/*---Form Colors---*/
/*---Fonts---*/
/*---Mixins---*/
@media (min-width: 320px) {
  .Global-background {
    background: linear-gradient(135deg, #78a5c4, #4b8cc9);
    height: 100%;
    min-height: 100vh;
  }
  .Global-background .Global {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Global-background .Global .headerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Global-background .Global #logo {
    display: none;
  }
  .Global-background .Global #title {
    font-family: "Oswald";
    color: #fcf9f0;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 13vw;
    text-align: center;
  }
  .Global-background .Global #subtitle {
    font-family: "Open Sans Condensed", sans-serif;
    color: white;
    text-align: center;
    font-size: 5.4vw;
    letter-spacing: 1.5vw;
    padding-left: 2vw;
  }
  .Global-background .Global form {
    outline: none;
  }
  .Global-background .Global .searchbar {
    width: 76vw;
    height: 4vw;
    border-radius: 1vw;
    background-color: #f8f8f8;
    text-align: center;
    font-family: "Ruda";
    font-size: 3.5vw;
    padding: 1.3vw;
    margin-top: 10px;
    border: #000000 0.3vw solid;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
  }
  .Global-background .Global .river-wrapper {
    display: -ms-grid;
    display: grid;
    justify-items: stretch;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin-top: 20px;
    grid-gap: 15px;
    margin-top: 15px;
  }
  .Global-background .Global .github-corner svg {
    display: none;
  }
}

@media (min-width: 750px) {
  .Global-background .Global #logo {
    display: block;
    padding-right: 30px;
    padding-top: 40px;
    height: 180px;
  }
  .Global-background .Global #title {
    margin-top: 25px;
    font-size: 70px;
  }
  .Global-background .Global #subtitle {
    font-size: 24px;
    letter-spacing: 10px;
    padding-left: 8px;
  }
  .Global-background .Global .github-corner svg {
    display: block;
    width: 80px;
    height: 80px;
  }
  .Global-background .Global .searchbar {
    font-size: 24px;
    height: 30px;
    width: 79vw;
    padding: 6px;
    margin-top: 30px;
    border: #000000 2px solid;
    border-radius: 10px;
  }
  .Global-background .Global .river-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .Global-background .Global .river-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=Global.css.map */