@import "../../standards";
@media (min-width: 320px) {
  .river-label {
    @include vert-grad($highlight-l, $highlight-n);
    border: $font-d 0.3vw solid;
    border-radius: 2vw;
    padding: 2vw;

    cursor: pointer;
    overflow: hidden;
    user-select: none;
    font-family: $title2;
  }

  .river-label:hover {
    background: $highlight-l;
  }

  .river-label a {
    text-decoration: none;
    color: $font-d;
  }

  #name {
    font-size: 5vw;
  }

  #location {
    font-size: 4vw;
  }

  #class {
    font-size: 3vw;
  }

  #selected {
    font-weight: bold;
    display: inline-block;
  }

  /*---DoesNotExist---*/

  .make-one {
    grid-column: 1 / 4;
    text-align: center;
    padding: 2vw;
    cursor: auto;
  }

  .make-one:hover {
    @include vert-grad($highlight-l, $highlight-n);
  }

  .make-one {
    .main {
      font-size: 4vw;
      padding-top: 1vh;
      font-weight: bold;
    }

    .sub {
      font-size: 3.5vw;
      padding: 1vh 2vw;
    }
  }

  .guide-link {
    border: $font-d 0.3vw solid;
    border-radius: 2vw;
    background-color: $highlight-d;

    color: $font-l;
    font-size: 3.5vw;
    padding: 10px;
    cursor: pointer;
  }

  .guide-link:hover {
    font-weight: bolder;
    color: $font-d;
    @include vert-grad($blue-l, $highlight-l);
  }

  .guide-link a {
    text-decoration: none;
  }
}

@media (min-width: 750px) {
  .river-label {
    border: $font-d 2px solid;
    border-radius: 15px;
    padding: 15px;
  }
  #name {
    font-size: 24px;
  }

  #location {
    font-size: 20px;
  }

  #class {
    font-size: 16px;
  }

  .make-one {
    .main {
      font-size: 24px;
    }
    .sub {
      font-size: 20px;
    }
  }

  .guide-link {
    font-size: 24px;
    border: $font-d 2px solid;
    border-radius: 15px;
  }
}

@media (min-width: 1200px) {
  #name {
    font-size: 30px;
  }

  #location {
    font-size: 20px;
  }

  #class {
    font-size: 16px;
  }

  .make-one {
    .main {
      font-size: 30px;
    }
    .sub {
      font-size: 24px;
    }
  }

  .guide-link {
    font-size: 24px;
  }
}
