.form-wrapper {
  font-family: "Segoe UI";
}

.form-wrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-wrapper .form .containers {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.form-wrapper .form .containers .section .header {
  font-size: 24px;
}

.form-wrapper .form .containers .section .bk1 {
  background-color: #e8eaf6;
}

.form-wrapper .form .containers .section .bk2 {
  background-color: #c5cae9;
}

.form-wrapper .form .containers .section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.form-wrapper .form .containers .section .container .member {
  background-color: #eceff1;
  border: #b6b6b6 1px solid;
  border-radius: 30px;
  padding: 4px 11px;
  margin: 4px 5px;
  cursor: pointer;
}

.form-wrapper .form .containers .section .container .member:hover {
  background-color: #b6b6b6;
}

.form-wrapper .form .containers .section .container .title {
  background-color: black;
  border: none;
  color: white;
}

.form-wrapper .form .containers .section .container .title:hover {
  background-color: black;
}

.form-wrapper .form .containers .section .container .new {
  background-color: #ffcdd2;
}

.form-wrapper .form .containers .section .container .new:hover {
  background-color: #ef9a9a;
}

.form-wrapper .form .containers .section .container .on {
  background-color: #b6b6b6;
}

.form-wrapper .form .containers .section .container .off {
  background-color: #eceff1;
}

.form-wrapper .form .input-area {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  background-color: #e8eaf6;
}

.form-wrapper .form .input-area .inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.form-wrapper .form .input-area .inputs .input-field {
  margin: 5px;
}

.form-wrapper .form .input-area .inputs .input-field .input-label {
  text-align: left;
  padding-left: 10px;
}

.form-wrapper .form .input-area .inputs .block {
  grid-row: span 2;
}

.form-wrapper .form .input-area .inputs input {
  border: #b6b6b6 1px solid;
  border-radius: 30px;
  padding: 4px 11px;
  margin: 4px 5px;
  width: 90%;
  font-size: 16px;
  font-family: "Segoe UI";
}

.form-wrapper .form .input-area .inputs textarea {
  border: #b6b6b6 1px solid;
  border-radius: 5px;
  padding: 4px 11px;
  margin: 4px 5px;
  width: 90%;
  height: 63%;
  font-size: 16px;
  font-family: "Segoe UI";
}

.form-wrapper .form .input-area .header {
  font-size: 24px;
}
/*# sourceMappingURL=Form.css.map */