$button: rgb(182, 182, 182);

.form-wrapper {
  .form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    .containers {
      width: 30%;
      .section {
        border: 1px solid $button;
        padding: 10px 5px;
        .header {
          font-size: 24px;
        }
        .container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;

          .member {
            border: $button 1px solid;
            border-radius: 30px;
            padding: 4px 11px;
            margin: 4px 5px;
            cursor: pointer;
          }

          .member:hover {
            background-color: $button;
          }

          .new {
            background-color: rgb(255, 183, 183);
          }

          .new:hover {
            background-color: rgb(255, 158, 158);
          }

          .on {
            background-color: $button;
          }

          .off {
            background-color: transparent;
          }
        }
      }
    }

    .input-area {
      border: 1px solid $button;
      width: 70%;
      .header {
        font-size: 24px;
      }
    }
  }
}
