$button: rgb(182, 182, 182);
$highlight1: #ffcdd2;
$highlight2: #ef9a9a;
$background1: #e8eaf6;
$background2: #c5cae9;
$member: #eceff1;

.form-wrapper {
  font-family: "Segoe UI";
  .form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    .containers {
      flex-basis: 50%;
      .section {
        .header {
          font-size: 24px;
        }

        .bk1 {
          background-color: $background1;
        }

        .bk2 {
          background-color: $background2;
        }

        .container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          padding: 15px;

          .member:hover {
            background-color: $button;
          }

          .title {
            color: black;
          }

          .title:hover {
          }

          .new {
            background-color: $highlight1;
          }

          .new:hover {
            background-color: $highlight2;
          }

          .on {
            background-color: $button;
          }

          .off {
            background-color: $member;
          }
        }
      }
    }

    .input-area {
      flex-basis: 50%;
      background-color: $background1;
      display: grid;
      grid-template-columns: repeat(auto, 30px);
      grid-template-rows: repeat(2, 1fr);

      .input-field {
        margin: 5px;

        label {
          text-align: left;
          padding-left: 10px;
          width: 100px;
        }

        input {
          width: 80%;
        }
      }

      input,
      select {
        border: $button 1px solid;
        border-radius: 5px;
        padding: 4px 11px;
        margin: 4px 5px;
        width: 90%;
        font-size: 16px;
        font-family: "Segoe UI";
      }

      textarea {
        border: $button 1px solid;
        border-radius: 5px;
        padding: 4px 11px;
        margin: 4px 5px;
        width: 90%;
        height: 63%;
        font-size: 16px;
        font-family: "Segoe UI";
      }

      #submit {
        font-size: 16px;
      }
    }
  }
}

.member {
  background-color: $member;
  border: $button 1px solid;
  border-radius: 30px;
  padding: 4px 11px;
  margin: 4px 5px;
  cursor: pointer;
}

.member:hover {
  background-color: $button;
}
