@import "../standards";

.form-wrapper {
  font-family: "Segoe UI";
  .form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .containers {
      flex-basis: 50%;
      margin: 5px;
      .section {
        .header {
          font-size: 24px;
        }

        .river,
        .rapid,
        .arrows {
          border-bottom: $sd 2px solid;
        }

        .bk1 {
        }

        .bk2 {
        }

        .container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          padding: 10px;

          .member:hover,
          .on {
            background-color: $pd;
            color: white;
            box-shadow: 2px 2px 5px grey;
          }

          .new {
            background-color: $sl;
          }

          .new:hover {
            background-color: $sd;
            color: white;
          }

          .off {
            background-color: $pl;
          }
        }
      }
    }

    .add-river {
      border-radius: 10px;
      margin: 10px;
      background-color: $pl;
      padding: 3px 10px;

      .title {
        padding: 10px 3px;
        font-size: 16px;
      }

      .input {
        border-radius: 4px;
        padding: 5px;
        border: black 1px solid;
      }

      .submit {
        font-size: 16px;
        margin: 10px 0px;
        background-color: white;
        border-radius: 5px;
        border: 1px black solid;
        padding: 5px;
        cursor: pointer;
      }

      .submit:hover {
        background-color: lightgrey;
      }
    }

    .explain {
      text-align: center;
      flex-basis: 50%;
      background-color: $pl;
      border-radius: 20px;
      padding: 0px 0px 20px 0px;
      margin: 10px;
      button {
        font-size: 18px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        a {
          text-decoration: none;
          color: black;
        }
      }

      button:hover {
        background-color: white;
      }
    }

    .input-area {
      flex-basis: 50%;
      font-size: 16px;
      padding: 5px;
      margin: 5px;
      border-bottom: $sd 2px solid;
      form {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .input-field {
          margin: 6px;

          label {
            text-align: left;
            padding-left: 10px;
            width: 100px;
          }
        }

        input,
        select {
          border: $pd 1px solid;
          border-radius: 5px;
          padding: 4px 11px;
          margin: 4px 5px;
          width: 90%;
          font-size: 16px;
          font-family: "Segoe UI";
        }

        .action {
          font-family: "Segoe UI";
          border: 2px solid $pd;
          font-size: 16px;
          margin: 10px 10px;
        }

        #submit {
          border: 2px solid $pd;
          background-color: $pl;
        }

        #submit:hover {
          color: white;
          background-color: $pd;
        }

        #delete {
          border: 2px solid $sd;
          background-color: $sl;
        }

        #delete:hover {
          color: white;
          background-color: $sd;
        }
      }
    }
  }
}

.member {
  border-radius: 5px;
  padding: 5px 11px;
  margin: 4px 5px;
  cursor: pointer;
}
