/*---Colors---*/
$color1: #af9164ff;
$color2: #f7f3e3ff;
$color2_trans: #f7f3e3ff;
$color3: #eca184;
$light_color3: #f9c1a0;
$lighter_color3: #ffdecb;
$color4: #e1e2e2ff;
$color5: #80a1c1;
$color6: #2b2118ff;

/*---Fonts---*/
$title1: "Girassol", cursive;
$title2: "Ruda";
$body: "Rubik";

$Raleway: "Raleway";
$Sen: "Sen";
$Ruda: "Ruda";
$RockSalt: "Rock Salt";
$Alata: "Alata";
$BalooTamma2: "Baloo Tamma 2";
$Rubik: "Rubik";
