.Global {
  font-family: Ruda;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#63b3ff, #4eb058);
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
}

#title {
  font-size: 60px;
  padding-top: 50px;
}

#subtitle {
  font-size: 24px;
  padding-top: 10px;
}

#prompt {
  font-size: 40px;
  padding-top: 60px;
}

.river-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  justify-content: center;
  width: 1000px;
}
