/*---Universal---*/

/* HEX */
$color1: #af9164ff;
$color2: #f7f3e3ff;
$color3: #e08268;
$color4: #e1e2e2ff;
$color5: #80a1c1;
$color6: #2b2118ff;

.river-label {
  border: $color6 3px solid;
  border-radius: 10px;
  background-color: $color3;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  color: $color6;
}

.river-label a {
  text-decoration: none;
  color: $color6;
}

.done {
  padding: 15px;
}

#name {
  font-size: 29px;
}

#location {
  font-size: 20px;
}

#class {
  font-size: 16px;
}

#selected {
  font-weight: bold;
  display: inline-block;
}

/*---UnderConst---*/
.const {
  display: flex;
  justify-content: space-between;
}
.header {
  padding: 15px;
}

.img-wrapper {
  position: relative;
  right: -1px;
  height: 110px;
  width: auto;
  border-left: black 3px solid;
}

.toggled {
  background-color: $color6;
  color: $color4;
}

#involved {
  text-align: center;
  background-color: $color3;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  font-size: 20px;
}

#involved:hover {
  background-color: $color5;
  font-weight: bold;
}

/*---DoesNotExist---*/

.make-one {
  grid-column: 1 / 4;
  text-align: center;
  padding: 20px;
  cursor: auto;
}

.make-one .main {
  font-size: 48px;
  padding: 10px;
}

.make-one .sub {
  font-size: 24px;
  padding: 10px;
}

.guide-link {
  border: black 2px solid;
  background-color: $color2;
  font-size: 24px;
  border-radius: 50px;
  margin: 10px 20%;
  padding: 10px;
  cursor: pointer;
}

.guide-link:hover {
  background-color: $color5;
  font-weight: bold;
}

.guide-link a {
  text-decoration: none;
}
