$color-alpha: #ffffff;
$color-beta: #4f5d75;
$color-gamma: #bfc0c0;
$color-delta: #2d3142;
$color-epsilon: #ef8354;

$eddy: #ff5964;

//TYPOGRAPHY

$primary-header: "Londrina Solid", cursive;

//$secondary-header: "Roboto", sans-serif;
//$alegreya-sans-sc: "Alegreya Sans SC", sans-serif;
