.item-list {
  border: 2px solid red;
  max-width: 100%;

  // &:hover {
  //   max-width: 100%;
  // }
}

.item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
