.svg-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
}

.line {
  fill: none;
  stroke: #555;
  stroke-width: 0.5px;
  stroke-linecap: round;
}

.eddy {
  fill: green;
  fill-opacity: 0.2;
  stroke: #555;
  stroke-dasharray: 2px;
  stroke-width: 0.5px;
  stroke-linecap: round;
}

.bezier-anchor {
  cursor: pointer;
  fill: #888;
  stroke: #888;
  stroke-width: 1px;
}

.anchor-line {
  stroke: #888;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-dasharray: 2px;
}

.point {
  cursor: pointer;
  fill: #fff;
  stroke: #555;
  stroke-width: 2px;
  transition: fill 0.2s;
}
