@import "../standards";

@media (min-width: 320px) {
  .Global-background {
    @include diag-grad($blue-l, $blue-n);
    height: 100%;
    min-height: 100vh;

    .Global {
      display: flex;
      flex-direction: column;
      align-items: center;

      .headerWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      #logo {
        display: none;
      }

      #title {
        font-family: $title1;
        color: $font-l;
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 13vw;
        text-align: center;
      }
      #subtitle {
        font-family: $OpenSans;
        color: white;
        text-align: center;
        font-size: 5.4vw;
        letter-spacing: 1.5vw;
        padding-left: 2vw;
      }

      form {
        outline: none;
      }
      .searchbar {
        width: 76vw;
        height: 4vw;
        border-radius: 1vw;

        background-color: rgb(248, 248, 248);
        text-align: center;
        font-family: $title2;
        font-size: 3.5vw;
        padding: 1.3vw;
        margin-top: 10px;
        border: $font-d 0.3vw solid;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
      }

      .river-wrapper {
        display: grid;
        justify-items: stretch;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin-top: 20px;
        grid-gap: 15px;
        margin-top: 15px;
      }
      .github-corner svg {
        display: none;
      }
    }
  }
}

@media (min-width: 750px) {
  .Global-background {
    .Global {
      #logo {
        display: block;
        padding-right: 30px;
        padding-top: 40px;
        height: 180px;
      }

      #title {
        margin-top: 25px;
        font-size: 70px;
      }
      #subtitle {
        font-size: 24px;
        letter-spacing: 10px;
        padding-left: 8px;
      }
      .github-corner svg {
        display: block;
        width: 80px;
        height: 80px;
      }
      .searchbar {
        font-size: 24px;
        height: 30px;
        width: 79vw;
        padding: 6px;
        margin-top: 30px;
        border: $font-d 2px solid;
        border-radius: 10px;
      }

      .river-wrapper {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .Global-background {
    .Global {
      .river-wrapper {
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        margin-top: 30px;
      }
    }
  }
}
