@import "../standards";

.Loading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

  .message {
    font-size: 34px;
    font-family: $title1;
  }

  #logo {
    animation: Kayak-spin infinite 5s linear;
  }

  @keyframes Kayak-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
