@import "../standards";

.river-label {
  @include vert-grad($highlight-l, $highlight-n);
  @include border-rules;
  padding: 12px;

  cursor: pointer;
  overflow: hidden;
  user-select: none;
  font-family: $title2;
}

.river-label:hover {
  background: $highlight-l;
}

.river-label a {
  text-decoration: none;
  color: $font-d;
}

#name {
  font-size: 30px;
}

#location {
  font-size: 20px;
}

#class {
  font-size: 16px;
}

#selected {
  font-weight: bold;
  display: inline-block;
}

/*---DoesNotExist---*/

.make-one {
  grid-column: 1 / 4;
  text-align: center;
  padding: 20px;
  cursor: auto;
}

.make-one:hover {
  @include vert-grad($highlight-l, $highlight-n);
}

.make-one .main {
  font-size: 36px;
  padding-top: 10px;
  font-weight: bold;
}

.make-one .sub {
  font-size: 30px;
  padding: 15px 100px;
}

.guide-link {
  @include border-rules;
  background-color: $highlight-d;

  color: $font-l;
  font-size: 24px;
  margin: 10px 20%;
  padding: 10px;
  cursor: pointer;
}

.guide-link:hover {
  font-weight: bolder;
  color: $font-d;
  @include vert-grad($blue-l, $highlight-l);
}

.guide-link a {
  text-decoration: none;
}
