.Display {
  position: absolute;
  height: auto;
  width: 32vw;
  top: 71vh;
  left: 21vw;
  padding: 1vw 2vw;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  background-color: #eee9e9;
}

.Display #title {
  text-align: center;
  color: black;
  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4vw;
  padding-bottom: 0.8vw;
}

.Display #desc {
  color: black;
  font-family: Ruda;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  padding-bottom: 0.4vw;
}
