.Display {
  position: absolute;
  height: auto;
  /*box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);*/
  border-radius: 2vh;
  border: black 0.2vw solid;
  background-color: honeydew;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

.Display #title {
  text-align: center;
  color: black;
  font-family: Baloo Tamma 2;
  font-size: 2vw;
  padding: 0.8vh 3vh;
}

.Display #desc {
  color: black;
  font-family: Ruda;
  font-size: 1.1vw;
  padding: 0vh 4vh 2.5vh 4vh;
}
