.Eddy {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #svg {
    height: 99vh;
    width: 99vw;
    
  }
  
  path {
    cursor: pointer;
  }
  