.hydraulic {
  background: linear-gradient(
    1deg,
    #ffffff -2.5%,
    rgba(255, 255, 255, 0) 62.1%
  );
  filter: blur(0.5px);
  border-radius: 20px;
}

.hydraulic:hover {
  cursor: pointer;
}
