.MapLabel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Ruda;
  pointer-events: none;
}

.MapLabel a {
  text-decoration: none;
}

.MapLabel .name {
  font-size: 1vw;
  cursor: pointer;
  background-color: honeydew;
  color: #232020;
  border-radius: 30px;
  padding: 0.9vh 1.4vw;
  pointer-events: auto;
}

.MapLabel .name:hover {
  background-color: #232020;
  color: honeydew;
  transition: 0.3s;
}

.MapLabel .pointer {
  stroke: black;
  fill: none;
  stroke-width: 0.1vh;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.top {
  flex-direction: column-reverse;
}

.right {
  flex-direction: row;
}

.bottom {
  flex-direction: column;
}

.left {
  flex-direction: row-reverse;
}
