.NextRapid {
  position: absolute;
  cursor: pointer;
  padding: 0.8vw;
  background: rgba(255, 255, 255, 0.6);
  border: solid 0.15vw #000000;
  box-sizing: border-box;
  border-radius: 1.5vh;
}

.NextRapid .name {
  font-family: Ruda;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  text-align: center;
  text-decoration: none;
  color: black;
}
