.NextRapid {
  position: absolute;
  height: 4vh;
  width: 5vw;
  stroke: black;
  cursor: pointer;
}

.NextRapid polyline {
  fill: none;
  stroke-width: 0.1vw;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.NextRapid .rapid-name{
    position: absolute;
    top: 1vh;
    left: -1vw;
    font-size: 2.5vh;
    font-weight: bold;
    z-index: -1;
}