.Rapid {
  user-select: none;
  overflow: hidden;
}

.rapid-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 2vw;
  font-family: Ruda;
  font-style: normal;

  text-align: center;
}

#rapid-name {
  font-weight: bold;
  font-size: 3vw;
  padding: 0.3vh;
}

#rapid-desc {
  font-size: 2vw;
}

#level-display {
  position: absolute;
  right: 5vw;
  top: 5vh;

  font-family: Ruda;
  font-style: normal;
  font-weight: normal;

  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.7vw 0.9vw;
  border-radius: 10px;

  font-size: 1.5vw;
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
