#background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#header{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#rapid-name{
    text-align: center;
    font-size: 2em;
}

#rapid-desc{
    text-align: center;
}





.line{
    position: absolute;
    
}


