.SymbolToggle {
  position: absolute;
  top: 1vh;
  left: 1vw;

  background-color: #232020;
  padding: 5px 8px;

  border-radius: 30px;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: honeydew;
  border-radius: 50%;
}

.text {
  color: honeydew;
  margin: 3px 10px;
  font-size: 18px;
  font-family: Ruda;
  font-style: normal;
  font-weight: normal;
}
