#gauge-container-wrapper {
    position: absolute;
    right: 3vh;
    top: 3vh;
  }
  


#level-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}


#gauge-container{
    background-color: honeydew;
    border-radius: 1em;
    padding: 15px;
    border: solid 0.2vw black;
}


.level{
border: solid 0.2vw black;
border-radius: 2vw;
margin: 5px 0px;
padding: 5px 13px;
cursor: pointer;

}

#title{
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    padding-bottom: 8px;
}

#subtitle{
    font-size: 1vw;
    text-align: center;
}

.desc{
    font-size: 1vw;
}