.WaterLevel {
  position: absolute;
  right: 3vh;
  top: 3vh;
}

#gauge-container {
  background-color: honeydew;
  border-radius: 1em;
  padding: 15px;
  border: solid 0.2vw black;
}

#title {
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
  padding-bottom: 8px;
}

#level-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.level {
  border: solid 0.2vw black;
  border-radius: 2vw;
  margin: 5px 0px;
  padding: 5px 13px;
  cursor: pointer;
}

.desc {
  font-size: 1vw;
}
