/*---Colors---*/
$color1: #af9164ff;
$color2: #f7f3e3ff;
$color2_trans: #f7f3e3ff;
$color3: #cc9079;
$light_color3: #f9c1a0;
$lighter_color3: #ffdecb;
$color4: #e1e2e2ff;
$color5: #4b8cc9;
$color5-light: #9bbcdb;
$color6: #2b2118ff;
$eddy: #ff5964;

/*---Form Colors---*/
$p: #448aff;
$pl: #83b9ff;
$pd: #005ecb;
$s: #ff5252;
$sl: #ff867f;
$sd: #c50e29;

/*---Fonts---*/
$title1: "Oswald"; //"Girassol", cursive;
$title2: "Ruda";
$title3: "Alata";
$body: "Rubik";
$Oswald: "Oswald";

$Raleway: "Raleway";
$Sen: "Sen";
$Ruda: "Ruda";
$RockSalt: "Rock Salt";
$Alata: "Alata";
$BalooTamma2: "Baloo Tamma 2";
$Rubik: "Rubik";

/*---Mixins---*/
