@import "../standards";

a {
  text-decoration: none;

  .home {
    background-color: #232020;
    color: honeydew;
    transition: 0.3s;
    cursor: pointer;
    font-size: 2.11vh;
    font-family: Ruda;
    border-radius: 4vh;
    padding: 1.2vh 1.2vw;
  }

  .home:hover {
    background-color: honeydew;
    color: #232020;
  }
}

/*color: `${!hovered ? dark : light}`,
    transition: "0.3s",
    
   
  };

  let dark = "";
  let light = "honeydew";*/
